@keyframes text_scale 
{
    0%, 100% {transform: scale(1); letter-spacing: 0px;}
    50% {transform: scale(1.1); letter-spacing: 2px;}
}
* 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}
body
{
    margin: 0;
    padding: 0;
}
#background 
{
    background: url(background.png) no-repeat center center;
    background-size: cover;
    transform: translate(-50%, -50%);
    width: 110%;
    height: 110%;
    position: fixed;
    top: 50%;
    left: 50%;
    transition: transform 0.1s ease-out;
}
#container 
{
    position: relative;
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}
#baner 
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10dvh;
    width: 100dvw;
}
#baner>section
{
    min-width: max-content;
}
.slider_button 
{
    border: none;
    background: none;
    color: white;
    transition: 0.3s ease-in-out;
}
.slider_button:hover 
{
    cursor: pointer;
    transform: scale(1.4);
    filter: drop-shadow(0px 0px 4px #e196f1);
}
#level
{
    background: transparent;
    border: none;
    color: white;
}
#level > option
{
    color: black;
}
#slider 
{
    width: 90dvw;
    height: 80dvh;
    border-radius: 20px;
    background-color: #a637e710;
    box-shadow: 0px 0px 15px #a637e7;
    backdrop-filter: blur(1.5px);
    display: flex;
    justify-content: center;
    overflow: auto;
}
#slider:hover 
{
    cursor: pointer;
}
#slider>p
{
    animation-name: text_scale;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
#slider > #m1 
{
    align-self: flex-start;
}
#slider > #m2,
#slider > #m3 
{
    align-self: center;
}
#m1
{
    display: none;
}
#m1>p
{
    border: 1px dashed gray;
    padding: 1%;
}
#m2
{
    display: block;
}
#notification
{
    transition: opacity 1s ease-in-out;
}
#m3
{
    display: none;
}
#game_content
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#game_content,
#colours
{
    display: none;
    justify-content: center;
    align-items: center;
    align-self: center;
}
#game_content > h2 {
    position: absolute;
    z-index: 2;
    top: -30%;
}
.colour
{
    width: 150px;
    height: 150px;
    margin: 25px;
    transform: rotate(-90deg);
}
#numbers
{
    display: none;
    justify-content: center;
    align-items: center;
}
#userAnswer
{
    background-color: rgba(50, 50, 50, 0.3);
    padding: 5px;
    border: none;
    color: white;
}
#settings_window {
    position: absolute;
    display: none;
    width: 90dvw;
    height: 80dvh;
    border-radius: 20px;
    background-color: rgb(0,0,0);
    z-index: 9999;
}
#settings_window > *{
    padding-top: 45px;
    padding-left: 45px;
}